<mat-card fxFlexFill>
  <mat-card-header>
    <mat-card-title>Gracias</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" class="mat-elevation-z8">

      <div *ngIf="transactionResponse">
        <mat-form-field fxFlex="100" class="p-r-10 flex-item">
          <mat-label>Código de operación</mat-label>
          <input matInput value="{{transactionResponse.transactionId}}" readonly />
        </mat-form-field>

        <mat-form-field fxFlex="100" class="p-r-10 flex-item">
          <mat-label></mat-label>
          <input matInput value="www.mercantilandina.com.ar" readonly />
        </mat-form-field>

        <mat-form-field fxFlex="100" class="p-r-10 flex-item">
          <mat-label></mat-label>
          <input matInput value="0810.888.6262" readonly />
        </mat-form-field>
      </div>

    </form>

    <div fxFlex class="p-y-20">
      <button mat-raised-button color="primary" (click)="init()" [disabled]="!form.valid || submitted">
        Inicio
      </button>
    </div>
  </mat-card-content>
</mat-card>