<mat-card fxFlexFill>
  <mat-card-header>
    <mat-card-title>Coberturas Disponibles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">


        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description">
                <mat-label><strong>Producto: </strong></mat-label>{{element.producto}}
                <mat-label><strong> - Código Producto: </strong></mat-label>{{element.codigoProducto}}<br>
                <mat-label><strong>Descripción: </strong></mat-label>{{element.descripcion}}<br>
                <mat-label><strong>Texto: </strong></mat-label>{{element.texto}}<br>
                <mat-label><strong>Granizo: </strong></mat-label>
                {{ element.granizo ==true ? 'SI' : 'NO' }}<br>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <div fxFlex class="p-y-20">
        <span fxFlex></span>
        <button mat-stroked-button color="primary" (click)="back()" [disabled]="submitted" class="m-r-10">
          Atras
        </button>
        <button mat-raised-button type="submit" [disabled]="!form.valid || submitted || !expandedElement"
          color="primary">
          Siguiente
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>