table {
  width: 100%;
}

th.mat-header-cell {
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

.example-expanded-row{
  background: #59809e;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #efefef;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #59809e;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  text-align: left;
}


.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
