<mat-card fxFlexFill>
  <mat-card-header>
    <mat-card-title>Datos del Vehículo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" class="mat-elevation-z8">

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-select placeholder="Marca" formControlName="brand" [compareWith]="compareItems" (selectionChange)="getModels()">
          <mat-optgroup [label]="Marca">
            <mat-option *ngFor="let b of brands" [value]="b">
              {{ b.desc }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="hasError(controls['brand'], 'required')">Seleccione Marca</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-label>Año</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="year" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-select placeholder="Modelo" formControlName="model" [compareWith]="compareItems" (selectionChange)="getVersions()">
          <mat-optgroup [label]="Modelo">
            <mat-option *ngFor="let m of models" [value]="m">
              {{ m }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="hasError(controls['model'], 'required')">Seleccione Modelo</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-select placeholder="Version" formControlName="version" [compareWith]="compareItems">
          <mat-optgroup [label]="Version">
            <mat-option *ngFor="let v of versions" [value]="v">
              {{ v.desc }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>


      <div fxFlex class="p-y-20">
        <span fxFlex></span>
        <button mat-stroked-button color="primary" (click)="back()" [disabled]="submitted" class="m-r-10">
          Atras
        </button>
        <button mat-raised-button type="submit" [disabled]="!form.valid || submitted" color="primary">
          Siguiente
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>