<mat-card fxFlexFill>
  <mat-card-header>
    <mat-card-title>Confirmar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" class="mat-elevation-z8">

      <div *ngIf="isValid">

        <div *ngIf="userData">
          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Dni</mat-label>
            <input matInput value="{{userData.dni}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Apellido</mat-label>
            <input matInput value="{{userData.lastName}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Nombre</mat-label>
            <input matInput value="{{userData.name}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Email</mat-label>
            <input matInput value="{{userData.email}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Celular</mat-label>
            <input matInput value="{{userData.cellPhone}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Teléfono</mat-label>
            <input matInput value="{{userData.phone}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Provincia</mat-label>
            <input matInput value="{{userData.province.nombre}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Ciudad</mat-label>
            <input matInput value="{{userData.municipality.nombre}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Domicilio</mat-label>
            <input matInput value="{{userData.address}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput value="{{userData.birthDate | date:'shortDate'}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Usuario</mat-label>
            <input matInput value="{{userData.user}}" readonly />
          </mat-form-field>
        </div>

        <div *ngIf="vehicleData">
          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Marca</mat-label>
            <input matInput value="{{vehicleData.brand.desc}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Año</mat-label>
            <input matInput value="{{vehicleData.year | date:'shortDate'}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Modelo</mat-label>
            <input matInput value="{{vehicleData.model}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Version</mat-label>
            <input matInput value="{{vehicleData.version.desc}}" readonly />
          </mat-form-field>
        </div>

        <div *ngIf="coverage">
          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Cobertura</mat-label>
            <input matInput value="{{coverage.texto}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Costo</mat-label>
            <input matInput value="{{coverage.costo}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Descripción </mat-label>
            <input matInput value="{{coverage.descripcion}}" readonly />
          </mat-form-field>

          <mat-form-field fxFlex="100" class="p-r-10 flex-item">
            <mat-label>Granizo</mat-label>
            <input matInput value="{{ coverage.granizo ==true ? 'SI' : 'NO' }}" readonly />
          </mat-form-field>
        </div>

      </div>

    </form>

    <div fxFlex class="p-y-20">
      <button mat-stroked-button color="primary" (click)="back()" [disabled]="submitted" class="m-r-10">
        Atras
      </button>
      <button mat-raised-button color="primary" (click)="confirm()" [disabled]="!form.valid || submitted || !isValid">
        Confirmar
      </button>
    </div>
  </mat-card-content>
</mat-card>