<mat-card fxFlexFill>
  <mat-card-header>
    <mat-card-title>Datos personales</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" class="mat-elevation-z8">

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Dni" type="text" formControlName="dni" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['dni'], 'required')">
          Dni requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['dni'], 'minlength')">
          Mínimo 7
        </mat-error>
        <mat-error *ngIf="hasError(controls['dni'], 'maxlength')">
          Máximo 8
        </mat-error>
        <mat-error *ngIf="hasError(controls['dni'], 'pattern')">
          Sólo números
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Apellido" type="text" formControlName="lastName" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['lastName'], 'required')">
          Apellido requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['lastName'], 'minlength')">
          Mínimo 2
        </mat-error>
        <mat-error *ngIf="hasError(controls['lastName'], 'maxlength')">
          Máximo 15
        </mat-error>
        <mat-error *ngIf="hasError(controls['lastName'], 'pattern')">
          Sólo letras
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Nombre" type="text" formControlName="name" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['name'], 'required')">
          Nombre requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['name'], 'minlength')">
          Mínimo 2
        </mat-error>
        <mat-error *ngIf="hasError(controls['name'], 'maxlength')">
          Máximo 15
        </mat-error>
        <mat-error *ngIf="hasError(controls['name'], 'pattern')">
          Sólo letras
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="example@mail.com" type="text" formControlName="email" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['email'], 'required')">
          Email requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['email'], 'pattern')">
          Email inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Celular" type="text" formControlName="cellPhone" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['cellPhone'], 'required')">
          Celular requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['cellPhone'], 'minlength')">
          Mínimo 10
        </mat-error>
        <mat-error *ngIf="hasError(controls['cellPhone'], 'maxlength')">
          Máximo 10
        </mat-error>
        <mat-error *ngIf="hasError(controls['cellPhone'], 'pattern')">
          Sólo números. Sin el 0 y sin el 15
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Teléfono" type="text" formControlName="phone" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['phone'], 'required')">
          Teléfono requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['phone'], 'minlength')">
          Mínimo 10
        </mat-error>
        <mat-error *ngIf="hasError(controls['phone'], 'maxlength')">
          Máximo 10
        </mat-error>
        <mat-error *ngIf="hasError(controls['phone'], 'pattern')">
          Sólo números. Sin el 0
        </mat-error>
      </mat-form-field>


      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-select placeholder="Provincia" formControlName="province" [compareWith]="compareItems" (selectionChange)="onProvinceChanged()">
          <mat-optgroup [label]="Provincia">
            <mat-option *ngFor="let p of provinces" [value]="p">
              {{ p.nombre }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="hasError(controls['province'], 'required')">Seleccione Provincia</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-select placeholder="Ciudad" formControlName="municipality" [compareWith]="compareItems">
          <mat-optgroup [label]="Ciudad">
            <mat-option *ngFor="let m of municipalities" [value]="m">
              {{ m.nombre }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="hasError(controls['municipality'], 'required')">Seleccione Ciudad</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Domicilio" type="text" formControlName="address" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['address'], 'required')">
          Domicilio requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['address'], 'minlength')">
          Mínimo 2
        </mat-error>
        <mat-error *ngIf="hasError(controls['address'], 'maxlength')">
          Máximo 30
        </mat-error>
        <mat-error *ngIf="hasError(controls['address'], 'pattern')">
          No se permiten caracteres especiales
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Usuario" type="text" formControlName="user" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['user'], 'required')">
          Usuario requerido
        </mat-error>
        <mat-error *ngIf="hasError(controls['user'], 'minlength')">
          Mínimo 3
        </mat-error>
        <mat-error *ngIf="hasError(controls['user'], 'maxlength')">
          Máximo 30
        </mat-error>
        <mat-error *ngIf="hasError(controls['user'], 'pattern')">
          Sólo números, letras y punto "."
        </mat-error>
        <mat-error *ngIf="hasError(controls['user'], 'userExist')">
          Usuario existente
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="p-r-10 flex-item">
        <input matInput placeholder="Contraseña" type="password" formControlName="password" autocomplete="off" />
        <mat-error *ngIf="hasError(controls['password'], 'required')">
          Contraseña requerida
        </mat-error>
        <mat-error *ngIf="hasError(controls['password'], 'minlength')">
          Mínimo 8
        </mat-error>
        <mat-error *ngIf="hasError(controls['password'], 'maxlength')">
          Máximo 20
        </mat-error>
        <mat-error *ngIf="hasError(controls['password'], 'pattern')">
          Al menos un dígito, una minúscula, una mayúscula y al menos un caracter no alfanumérico.
        </mat-error>
      </mat-form-field>

      <div fxFlex="100" class="p-y-20">
        <button mat-raised-button type="submit" [disabled]="!form.valid || submitted" color="primary">
          Siguiente
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>