@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700');

$bodyfont: 'Lato';
$headingfont: 'Lato';

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-light-blue, 600);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

$custom-typography: mat-typography-config(
  $font-family: 'Lato'
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

// Default Theme
@include angular-material-theme($theme);
