// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./default-theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    flex: 50%;
    width: 300px;
  }


mat-card {
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100vw;
  }
  
mat-card-header {
    color: white;
    background-color: #005ca1;
    text-align: center;
}
mat-card-title {
    padding: 20px 0;
}


  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }


  html body {
    .p-10 {
        padding: 10px;
    }
    
    .p-20 {
        padding: 20px;
    }
    .p-r-10 {
        padding-right: 10px;
    }

    .p-y-20 {
        padding: 20px 0;
    }

    .m-10 {
        margin: 10px;
    }
    
    .m-20 {
        margin: 20px;
    }
    .m-r-10 {
        margin-right: 10px;
    }

    .m-y-20 {
        margin: 20px 0;
    }
    
    .text-right {
      text-align: right;
    }
  }